services:

  api-gateway:
    build:
      context: .
      dockerfile: ./Dockerfile.api-gateway
    volumes:
      - ssl_certificate:/etc/letsencrypt:ro
    ports:
      - "80:80"
      - "443:443"
    environment:
      DOMAIN_NAME: ${DOMAIN_NAME}
      SSL_FULLCHAIN_LOCATION: ${SSL_FULLCHAIN_LOCATION}
      SSL_PRIVKEY_LOCATION: ${SSL_PRIVKEY_LOCATION}
    depends_on:
      - app
    entrypoint: ["/bin/sh", "/api-gateway-entrypoint.sh"]

  app:
    build: 
      context: .
      dockerfile: ./Dockerfile.app
    environment:
      SUPABASE_URL: ${SUPABASE_URL}
      SERVICE_ROLE_KEY: ${SERVICE_ROLE_KEY}
      ANON_KEY: ${ANON_KEY}
    ports:
      - "8051:8051"
    volumes:
      - ./app:/app
      - ./app/.streamlit/config.toml:/home/streamlit-user/.streamlit/config.toml

  certbot:
    image: certbot/dns-route53:latest
    restart: always
    environment:
      - CERT_EMAIL=${CERT_EMAIL}
      - DOMAIN_PROVIDER_ACCESS_KEY_ID=${domain_provider_access_key}
      - DOMAIN_PROVIDER_SECRET_ACCESS_KEY=${domain_provider_secret_access_key}
      - DOMAIN_PROVIDER_DEFAULT_REGION=u${domain_provider_region}
    volumes:
      - ssl_certificate:/etc/letsencrypt
    entrypoint: 
      - sh 
      - -c 
      - |
        trap exit TERM
        while :; do
          certbot renew --non-interactive
          echo 'Reload nginx service, if certificate gets renewal'
          sleep 12h & wait $!;
        done

volumes:
  ssl_certificate: 
    external: true