services:

  api-gateway:
    image: nginx:alpine
    volumes:
      - ./proxy/default_nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ssl_certificate:/etc/letsencrypt:ro
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - app

  app:
    build: 
      context: .
      dockerfile: ./dockerfiles/Dockerfile.app
    environment:
      SUPABASE_URL: ${SUPABASE_URL:-https://tamquest.click}
      SERVICE_ROLE_KEY: ${SERVICE_ROLE_KEY}
      ANON_KEY: ${ANON_KEY}
    ports:
      - "8051:8051"
    volumes:
      - ./app:/app
      - ./app/.streamlit/config.toml:/home/streamlit-user/.streamlit/config.toml

  certbot:
    image: certbot/dns-route53:latest
    restart: always
    environment:
      - CERT_EMAIL=${CERT_EMAIL}
      - AWS_ACCESS_KEY_ID=${aws_access_key}
      - AWS_SECRET_ACCESS_KEY=${aws_secret_access_key}
      - AWS_DEFAULT_REGION=us-east-1
    volumes:
      - ssl_certificate:/etc/letsencrypt
    entrypoint: 
      - sh 
      - -c 
      - |
        trap exit TERM
        while :; do
          certbot renew --non-interactive
          echo 'Reload nginx service, if certificate gets renewal'
          sleep 12h & wait $!;
        done

volumes:
  ssl_certificate: 
    external: true